@model CondS.PIM.Modelo.usuarioMOD
@{
    ViewBag.Title = "Bem vindo ao CondS";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}
<section id="recursos">
    <div class="container">
        <div class="row">
            <!-- Recursos -->
            <div class="col-md-12">
                <h2>Facil</h2>
                <h3>Buscar</h3>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Atirei o pau no gatis, per gatis num morreus. Quem num gosta di mim que vai caçá sua turmis! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. </p>

                <h3>Navegar</h3>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Atirei o pau no gatis, per gatis num morreus. Quem num gosta di mim que vai caçá sua turmis! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. </p>

                <h3>Descobrir</h3>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Atirei o pau no gatis, per gatis num morreus. Quem num gosta di mim que vai caçá sua turmis! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. </p>
            </div>
        </div>
    </div>
</section>

