<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   

    <!--SCRIPTS-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/style.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <header>
        @RenderPage("~/Views/Shared/_Topo.cshtml")
    </header>
    <section id="recursos">
        <div class="container">
           <div class="row">
               <div class="capa">
                   <div>
                       @RenderBody()
                   </div>
               </div>
            </div>
        </div>
   </section>
    <footer>
    </footer>
</body>
</html>
