<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   

    <!--SCRIPTS-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.slim.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/style.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <!-- Header-->
        <div class="navbar-header">
         <!-- botao toggle-->
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="sr-only">Alterar navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
           <ul class="nav navbar-nav navbar-left">
               <li>@Html.ActionLink("CondS","Index","Home")</li>
           </ul>
         
        </div>
        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li class="divisor" role="separator"></li>
            <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Usuario")</li>
            <li><a href="">5</a></li>
          </ul>
        </div>
      </div><!--/Container-->
    </nav> <!-- Finaliza barra de navegação -->

    <section id="recursos">
        <div class="container">
           <div class="row">
               <div class="capa">
                   <div>
                       @RenderBody()
                   </div>
               </div>
            </div>
        </div>
      
   </section>

    
    


</body>
</html>
