<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <!-- Header-->
        <div class="navbar-header">
            <!-- botao toggle-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Alterar navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("CondS", "Index", "Home")</li>
            </ul>

        </div>
        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li class="divisor" role="separator"></li>
                <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Usuario")</li>
                <li><a href="">5</a></li>
            </ul>
        </div>
    </div><!--/Container-->
</nav> <!-- Finaliza barra de navegação -->
